<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Successfuly</title>
    <link rel="icon" type="image/svg+xml"
        href="https://gitee.com/qian_zehao/nashsweeper/raw/master/nashsweeper-front/public/JohnNash.svg" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="flex justify-center px-4 py-16 bg-base-200">
        <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="../static/JohnNash.svg" alt="JohnNash" /></figure>
            <div class="card-body">
                <h2 class="card-title">File Upload Successfuly!</h2>
                <p>Now you can go back to Nashsweeper and play it with your friends.</p>

                <div class="card-actions justify-end">
                    <form method=post enctype=multipart/form-data>
                        <a class="flex justify-center items-center btn btn-primary px-8"
                            href="http://127.0.0.1:5173/">Return</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>